html, body {
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
  color: #fff;
  background-color: #E8D4F7;
  font-family: 'Oxygen', sans-serif;
}
canvas {
  display: block;
}

/** HEADER **/
#header-nav {
  background-color:#EE9B11;
  border-radius: 10px;
  border: 0;
  box-shadow: 0px 0px 8px rgba(0,0,0,.6);
}

.resize {
  width: 150px;
  height: auto;
  margin: 10px 15px 10px 0;
}
.resize-small {
  width: 40px;
  height: auto;
  margin: 10px 5px 10px 0;
}

.navbar-brand {
  padding-top: 25px;
}
.navbar-brand h1 { /* Title */
  font-family: 'Lora', serif;
  color: #2737de;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
.navbar-brand a {
  color: #1164EE;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}
.navbar-brand a:nth-child(2) div:nth-child(2) { /* español */
  color: #2737de;
  text-transform: uppercase;
  margin-top: 15px;
}
.navbar-brand a { /* inglés */
  color: #2737de;
  text-transform: uppercase;
  margin-top: 15px;
}
.navbar-brand #english, .navbar-brand #español {
  color: #000;
  text-transform: none;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #61122f;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}

#nav-list {
  margin-top: 10px;
}
#nav-list a {
  color: #1164EE;
  text-align: center;
}
#nav-list a:hover, #nav-list .active a{
  background: #e9b35c;
}
#nav-list a span {
  font-size: 1.8em;
}

#contact #nav-list a {
  color: #fff;
}
#contact #nav-list a:hover {
  color: #000;
  background: #E7E7E7;
}

#phone {
  margin-top: 5px;
}
#phone a { /* Phone number */
  text-align: right;
  padding-bottom: 0;
}
/* END HEADER */

/* BOARD */
#board {
  margin-left: -30px;
  background-color: #AAA;
  color: #fff;
  box-shadow: 0 0 10px #777;
}

.ins1, .ins2 {
  color: #666;
}
.ins1 {
  margin-left: 30px;
  margin-right: 10px;
}
.ins2 {
  margin-left: 40px;
}

#restart, .butt {
  text-align: center;
  width: 100px;
  height: 30px;
  background-color: #000;
  border-radius: 12px;
  border: none;
  box-shadow: 0 5px #999;
}
.butt {
  width: auto;
  margin-bottom: 30px;
}
#restart:hover, .butt:hover {
  background-color: #858585; 
  color: white;
}
#restart:active, .butt:active {
  background-color: #858585;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
/* END of BOARD */

/* FOOTER */
.panel-footer {
  margin-top: 30px;
  padding-top: 35px;
  padding-bottom: 30px;
  background-color: #222;
  border-top: 0;
}
.panel-footer div.row {
  margin-bottom: 35px;
}
#hours, #address {
  line-height: 2;
}
#hours > span, #address > span {
  font-size: 1.3em;
}
#address p {
  color: #557c3e;
  font-size: .8em;
  line-height: 1.8;
}
#testimonials {
  font-style: italic;
}
#testimonials p:nth-child(2) {
  margin-top: 25px;
}
/* END FOOTER */

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  /* Header */
  .navbar-brand h1 { /* Name */
    font-size: 1em;
  }
  /* End Header */
  .ins1, .ins2{
    font-size: 1em;
  }
  .ins1 {
    margin-left: 0;
    margin-right: 20px;
  }
}


/********** Extra small devices only **********/
@media (max-width: 767px) {
  .ins1, .ins2{
    font-size: 1em;
    margin-bottom: 20px;
  }
  #board {
    margin: 0;
  }

  /* Header */
  .navbar-header {
    margin-left: 20px;
  }

  .navbar-brand {
    padding-top: 10px;
    height: 80px;
  }
  .navbar-brand h1 { /* Name */
    padding-top: 10px;
    font-size: 5vw; /* 1vw = 1% of viewport width */
    line-height: 30px;
  }
  #collapsable-nav a { /* Collapsed nav menu text */
    font-size: 1.2em;
  }
  #collapsable-nav a span { /* Collapsed nav menu glyph */
    font-size: 1em;
    margin-right: 5px;
  }
  /* End Header */

  /* Footer */
  .panel-footer section {
    margin-bottom: 30px;
    text-align: center;
  }
  .panel-footer section:nth-child(3) {
    margin-bottom: 0; /* margin already exists on the whole row */
  }
  .panel-footer section hr {
    width: 50%;
  }
  /* End Footer */
}